{% extends "base.html" %}
  {% block title %} Online Machine Learning {% endblock %}
  {% block content %}
  <div class="main">
    <div class="home">
      <div class="container">
        <div class="row">
          <div class="eight columns offset-by-two">
            <h1 class="headline">
              <img class = 'logo' src="{{url_for('static', filename='images/logo.png')}}" align="middle" /></h1>
          </div>
        </div>

        <div class="row">
          <div class="eight columns offset-by-two">
            <form action='/result' method="post">
              <input type="text" name="url" placeholder="your url..." value="" class="wiki-search-input" id="wiki-search-input"/>
              <input type="text" name="target" placeholder="value to predict..." value="" class="wiki-search-input" id="wiki-search-input"/>
              <select name="type" id="type">
                <option value="regression">regression</option>
                <option value="classification">classification</option>
                <option value="nlp_en">NLP english</option>
              </select> 
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
	<p>to try with regression, use url: https://raw.githubusercontent.com/elBichon/online_machine_learning/main/house-prices-advanced-regression-techniques/train.csv and label SalePrice</p>
	<p><a href="https://www.kaggle.com/c/house-prices-advanced-regression-techniques">source</a></p>
	<p>to try with classsification, use url: https://raw.githubusercontent.com/elBichon/online_machine_learning/main/titanic/train.csv and label Survived</p>
	<p><a href="https://www.kaggle.com/c/titanic">source</a></p>
	<p>Disclaimer: You should not just rely on this. Accuracy is only one portion of a model’s accuracy. Depending on the investigation desired, you should look at Precision and Recall because accuracy may be only a tiny portion.</p>
    </div>
</body>
</html>
{% endblock %}
